default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password: 123456
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: smart_octocat_development

test:
  <<: *default
  database: smart_octocat_faq_test

production:
  <<: *default
  database: smart_octocat__production
